body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: cursive;
    font-weight: 300;
    color: aqua;
}
.line{
    height: 6px;
    width: 70px;
    background-color: aqua;
    margin: 8px auto;
}
#app{
    background-color: black;
}
#game{
    background-color: rgb(195, 0, 255);
    
}
img{
    width: 200px;
    height: 200px;
}
#chatbot{
    background-color: rgb(238, 255, 0);
}